@model TaskViewModel

<form method="post">
    <input hidden asp-for="@Model.TaskId" />
    <div class="form-group">
        <label asp-for="@Model.Name">@(Model.IsFormForTask ? "Task" : "Group")</label>
        <input asp-for="@Model.Name">
    </div>

    @if(Model.IsFormForTask)
    {
        <div>
            <label asp-for="@Model.GroupId">Group</label>
            <select asp-for="@Model.GroupId" asp-items="@Model.Groups">
                <option disabled selected>--- Select Group ---</option>
            </select>
        </div>
    }
    else if(!Model.IsFormForTask)
    {
        <div>
            <label asp-for="@Model.TaskId">Task</label>
            <select asp-for="@Model.TaskId" asp-items="@Model.TasksSI">
                <option disabled selected>--- Select Task ---</option>
            </select>
        </div>
    }

    <div>
        <label asp-for="@Model.ColorId">Colors</label>
        <select asp-for="@Model.ColorId" asp-items="@Model.Colors">
            <option disabled selected>--- Select Color ---</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
   
</form>