@model TaskViewModel

<form method="post">
    <input hidden asp-for="@Model.TaskId" />
    <input hidden asp-for="@Model.IsFormForTask" />
    <input hidden asp-for="@Model.IsFormForGroup" />
    <div class="form-group">
        <label asp-for="@Model.Name">@(Model.IsFormForTask ? "Task" : "Group")</label>
        <input asp-for="@Model.Name">
    </div>

    @if(Model.IsFormForTask) //Task version
    {
        <div>
            <label asp-for="@Model.GroupId">Group</label>
            <select asp-for="@Model.GroupId" asp-items="@Model.Groups">
                <option disabled selected>--- Select Group ---</option>
            </select>
        </div>
    }
    else if(!Model.IsFormForTask) //Group version
    {
            foreach (var task in Model.TasksSI)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="AddedTasksIdsToGroup"
                               value="@task.Value"
                                @if (@Model.TasksIdsAssignedToGroup.Contains(int.Parse(task.Value)))
                                {
                                    <text> checked </text>
                                }
                        /> @task.Text
                    </label>
                </div>
            }
            <div>
                <label asp-for="@Model.ColorId">Colors</label>
                <select asp-for="@Model.ColorId" asp-items="@Model.Colors">
                    <option disabled selected>--- Select Color ---</option>
                </select>
            </div>
    }
    <input type="submit" class="btn btn-primary" value="@(Model.IsFormForAdd ? "Add" : "Edit") @(Model.IsFormForTask ? "Task" : "Group")" />
</form>