@model ConfigTasksViewModel
@using Task = taskograph.Models.Tables.Task;
@using taskograph.Models.Tables
@using taskograph.Web.Models.DTOs


<h1>Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Group</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>


    <tbody>
        @{
            foreach (TaskDTO task in Model.Tasks)
            {
                <tr>
                    <td>@task.Name</td>
                    <td>@task.Group</td>
                    <td>
                        <form asp-controller="Task" asp-action="EditTask" asp-route-id="@task.Id" method="GET">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </td>
                    <td>
                        <button onclick="deleteTask(@task.Id)" class="btn btn-primary">Delete</button>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
<div>
    <a href="AddTask">
        <input class="btn btn-primary" type="button" value="Add Task" />
    </a>
</div>


<h1>Groups</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Group</th>
            <th scope="col">Tasks</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>


    <tbody>
        @{
            foreach (Group group in Model.Groups)
            {
                <tr>
                    <td>@group.Name</td>
                    <td>
                        @{
                            foreach(Task task in group.Tasks)
                            {
                                <p>@(task.Name)</p>
                            }

                    }
                    </td>
                    <td>
                        <form asp-controller="Task" asp-action="EditGroup" asp-route-id="@group.Id" method="GET">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </td>
                    <td>
                        <button onclick="deleteGroup(@group.Id)" class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    <a href="AddGroup">
        <input class="btn btn-primary" type="button" value="Add Group" />
    </a>
</div>

@section scripts {
    <script type="text/javascript">

        function deleteTask(taskId) {
            $.ajax({
                url: "@Url.Action("DeleteTask", "Task")",
                type: 'GET',
                data: {
                    id: taskId
                },
                cache: false,
                success: function (res) {
                    console.log(`Deleted task id ${taskId}`);
                    location.reload();
                }
            });
        }

        function deleteGroup(groupId) {
            $.ajax({
                url: "@Url.Action("DeleteGroup", "Task")",
                type: 'GET',
                data: {
                    id: groupId
                },
                cache: false,
                success: function (res) {
                    console.log(`Deleted group id ${groupId}`);
                    location.reload();
                }
            });
        }
    </script>
}