@model TaskViewModel
@using Task = taskograph.Models.Tables.Task;
@using taskograph.Web.Models.DTOs


<h1>Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Start</th>
            <th scope="col">Add time</th>
            <th scope="col">Total today</th>
        </tr>
    </thead>


    <tbody>
        @{
            foreach (TaskDTO task in Model.Tasks)
            {
                    <tr>
                        <td>@task.Name</td>
                        <td>StartTimerButton</td>
                        <td>
                        <select id="AddFixedTime-@(task.Id)">
                            @{
                                foreach(var duration in Model.Durations)
                                {
                                    <option value="@duration.Id">@duration.Text</option>
                                }
                            }
                        </select>
                            <button onclick="addEntry(@task.Id, '@task.Name')" class="btn btn-primary">+</button>
                        </td>
                        <td>@task.TotalDurationToday</td>
                    </tr>
            }
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">

        //************************************************
        //Show toastr after page reload fix
        window.onload = function () {
            var reloading = sessionStorage.getItem("reloading");
            var taskName = sessionStorage.getItem("taskName");
            var durationName = sessionStorage.getItem("durationName");
            if (reloading) {
                sessionStorage.removeItem("reloading");
                sessionStorage.removeItem("taskName");
                sessionStorage.removeItem("durationName");
                toastr["success"]("", `Added ${durationName} of ${taskName}`);
            }
        }
        function reloadPage() {
            sessionStorage.setItem("reloading", "true");
            document.location.reload();
        }
        //***********************************************

       
        //Send Entry to controller
        function addEntry(taskId, taskName) {
            const fixedTimeDropDown = document.getElementById(`AddFixedTime-${taskId}`);
            const durationId = fixedTimeDropDown.value;
            const durationName = fixedTimeDropDown.options[fixedTimeDropDown.selectedIndex].text;
            $.ajax({
                url: "@Url.Action("AddEntry", "Task")",
                type: 'GET',
                data: {
                    taskId: taskId,
                    durationId: durationId
                },
                success: function (res) {
                    console.log(`Added fixedTime taskid:${taskId} durationid:${durationId}`);
                    sessionStorage.setItem("taskName", taskName);
                    sessionStorage.setItem("durationName", durationName);
                    reloadPage();
                }
            });                       
        }

        //Toastr configuration
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "3000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

    </script>
}
