@model TaskViewModel
@using Task = taskograph.Models.Tables.Task;
@using taskograph.Web.Models.DTOs


<h1>Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Start</th>
            <th scope="col">Add time</th>
            <th scope="col">Total today</th>
        </tr>
    </thead>


    <tbody>
        @{
            foreach (TaskDTO task in Model.Tasks)
            {
                    <tr>
                        <td>@task.Name</td>
                    <td>
                        <button id="startTimer" class="btn btn-primary">Start</button>
                        <button id="pauseTimer" class="btn btn-primary">Pause</button>
                        <button id="resetTimer" class="btn btn-primary">Reset</button>
                        <p class="timerDisplay">dsfasdf</p>
                    </td>
                        <td>
                        <select id="AddFixedTime-@(task.Id)">
                            @{
                                foreach(var duration in Model.Durations)
                                {
                                    <option value="@duration.Id">@duration.ToString()</option>
                                }
                            }
                        </select>
                            <button onclick="addEntry(@task.Id, '@task.Name')" class="btn btn-primary">+</button>
                        </td>
                        <td>@task.TotalDurationToday.ToString()</td>
                    </tr>
            }
        }
    </tbody>
</table>

@section scripts {
    <script>
        let [seconds, minutes, hours] = [0, 0, 0];
        let timerRef = document.querySelector('.timerDisplay');
        let int = null;
        document.getElementById('startTimer').addEventListener('click', () => {
            console.log('start fired');
            if (int !== null) {
                clearInterval(int);
            }
            int = setInterval(displayTimer, 1000);
        });
        document.getElementById('pauseTimer').addEventListener('click', () => {
            console.log('pause fired');

            clearInterval(int);
        });
        document.getElementById('resetTimer').addEventListener('click', () => {
            console.log('reset fired');

            clearInterval(int);
            [seconds, minutes, hours] = [0, 0, 0];
            timerRef.innerHTML = '00 : 00 : 00';
        });
        function displayTimer() {
                seconds++;
                if (seconds == 60) {
                    seconds = 0;
                    minutes++;
                    if (minutes == 60) {
                        minutes = 0;
                        hours++;
                    }
                }
            let h = hours < 10 ? "0" + hours : hours;
            let m = minutes < 10 ? "0" + minutes : minutes;
            let s = seconds < 10 ? "0" + seconds : seconds;
            timerRef.innerHTML = ` ${h} : ${m} : ${s}`;
        }
    </script>

    <script type="text/javascript">

        //************************************************
        //Show toastr after page reload fix
        window.onload = function () {
            var reloading = sessionStorage.getItem("reloading");
            var taskName = sessionStorage.getItem("taskName");
            var durationName = sessionStorage.getItem("durationName");
            if (reloading) {
                sessionStorage.removeItem("reloading");
                sessionStorage.removeItem("taskName");
                sessionStorage.removeItem("durationName");
                toastr["success"]("", `Added ${durationName} of ${taskName}`);
            }
        }
        function reloadPage() {
            sessionStorage.setItem("reloading", "true");
            document.location.reload();
        }
        //***********************************************

        //Send Entry to controller
        function addEntry(taskId, taskName) {
            const fixedTimeDropDown = document.getElementById(`AddFixedTime-${taskId}`);
            const durationId = fixedTimeDropDown.value;
            const durationName = fixedTimeDropDown.options[fixedTimeDropDown.selectedIndex].text;
            $.ajax({
                url: "@Url.Action("AddEntry", "Task")",
                type: 'GET',
                data: {
                    taskId: taskId,
                    durationId: durationId
                },
                success: function (res) {
                    console.log(`Added fixedTime taskid:${taskId} durationid:${durationId}`);
                    sessionStorage.setItem("taskName", taskName);
                    sessionStorage.setItem("durationName", durationName);
                    reloadPage();
                }
            });                       
        }

        //Toastr configuration
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "3000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
}
