@model GraphViewModel
@using Task = taskograph.Models.Tables.Task;
@using taskograph.Web.Models.DTOs


<h1>Graph</h1>

<form asp-controller="Graph" asp-action="ShowGraph" method="post">
    <div>
        <label asp-for="@Model.GraphTimeUnit"></label>
        <input asp-for="@Model.GraphTimeUnit" />
    </div>
    <div>
        <label asp-for="@Model.Start">Start Date</label>
        <input asp-for="@Model.Start" type="date"/>
    </div>
    <div>
        <label asp-for="@Model.End">End Date</label>
        <input asp-for="@Model.End" type="date" />
    </div>
    <input type="submit" class="btn btn-primary" value="Show Graph" />
</form>
