@model RegularTargetViewModel

<h1>Add Regular Target</h1>

<form asp-controller="Target" asp-action="AddRegularTarget" method="post">
    <div>
        <label asp-for="@Model.TaskId">Connected Task</label>
        <select asp-for="@Model.TaskId" asp-items="@Model.TasksSLI">
        </select>
    </div>

    <div>
        <label asp-for="@Model.TimeDedicated">TimeDedicated</label>
        <input asp-for="@Model.TimeDedicated">
    </div
    
    ><div>
        <label asp-for="@Model.TimeInterval">TimeInterval</label>
        <input asp-for="@Model.TimeInterval">
    </div>

    <input type="submit" class="btn btn-primary" value="Add Precise Target" />
</form>